<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/css/base.css"/>-->
</head>
<body>
    <p>hello this ttt index</p>
    <form action="/logout" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">登出</button>
    </form>
</body>
</html>